body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: flex-start; /* Adjusted to start from the top */
    justify-content: center;
    height: 100vh;
    background-image: url('images/snowflake.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 400px;
    margin: 10px;
    transition: box-shadow 0.3s;
    cursor: pointer; /* Set cursor to pointer on hover */
}

.grid-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.item-details {
    padding: 10px;
}

.item-name {
    font-weight: bold;
    font-size: 18px; /* Increase font size for prominence */
    color: #1e477a; /* Dark icy blue color */
}

.item-url {
    color: #3498db;
    text-decoration: none;
    display: block;
    margin-top: 8px;
}

.page-title {
    text-align: center;
    font-size: 36px; /* Larger font size */
    font-weight: bold;
    color: #1e477a; /* Dark icy blue color */
    margin: 20px auto 0; /* Center the title horizontally and add top margin */
}
